/*
*   Left Side
*/

.column.left {
    min-width: 20%;
    max-width: 200px;
    overflow: hidden;
}


/* Menu */

.left-menu {
    grid-area: left-top-button;
    padding-left: 15px;
    border: 0;
    border-radius: 0;
    outline: none;
    color: #d7e5f0;
    background-color: inherit;
}

.left-top.grid-container {
    display: grid;
    grid-template-columns: 36px auto;
    grid-template-areas: "left-top-button left-top-name";
    text-align: center;
}

.app-name {
    padding-left: 30px;
    display: flex;
    grid-area: left-top-name;
    align-items: center;
    color: #fff;
    text-overflow: ellipsis;
    font: 13px Tahoma, sans-serif, Arial, Helvetica;
}

.left-side {
    display: grid;
    grid-template-areas: "search-panel" "chats";
    grid-template-rows: 51px 100%;
    height: max-content;
}

.left-side>.search-panel {
    grid-area: search-panel;
    display: flex;
    height: 32px;
    margin: 12px;
    border-radius: 5px;
    background-color: #f2f2f2;
    overflow: hidden;
}

.left-side>.chats {
    margin: 12px;
    background-color: chartreuse;
    height: 80vh;
}

.search,
.search-box {
    background-color: #f2f2f2;
    border: 0;
    outline: 0;
    border-radius: 0;
    overflow: hidden;
    white-space: nowrap;
    color: #777;
}

.search {
    color: silver;
    transform: scaleX(-1);
}

.search-box {
    color: black;
    position: relative;
    font: 13px Tahoma, sans-serif, Arial, Helvetica;
    overflow: hidden;
    width: 100%;
    align-self: center;
    margin-right: 30px;
}