/*
*   Common
*/

* {
    box-sizing: border-box;
    resize: none;
}

.column,
body,
html {
    min-height: 93vh;
    height: 97vh;
}

.row {
    min-width: 1024px;
    min-height: 600px;
    height: 100%;
    overflow: hidden;
}

.column {
    min-height: 96%;
    float: left;
}

[contenteditable=true]:empty:before {
    color: #c1c1c1;
    content: attr(placeholder);
    pointer-events: none;
    display: block;
}


/*
*   Left Side
*/

.column.left {
    min-width: 30%;
    max-width: 200px;
    background-color: #0ff;
}


/* Menu */

.left-top-menu {
    padding-left: 15px;
    border: 0;
    border-radius: 0;
    outline: none;
    color: #d7e5f0;
    background-color: inherit;
    height: 100%;
    float: left;
}

.left-menu {
    padding-left: 15px;
    border: 0;
    border-radius: 0;
    outline: none;
    color: #d7e5f0;
    background-color: inherit;
    height: 100%;
    float: left;
}

.app-name {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    text-align: left;
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    text-overflow: ellipsis;
    font: 13px Tahoma, sans-serif, Arial, Helvetica;
}


/*  Search panel */

.search-panel {
    margin: 10px;
    padding: 5px;
    border-radius: 15px;
    max-height: 48px;
    width: 95%;
    display: flex;
    background-color: #f2f2f2;
    overflow: hidden;
}

.search,
.search-box {
    background-color: #f2f2f2;
    border: 0;
    outline: 0;
    border-radius: 0;
    display: inline-block;
    overflow: hidden;
    color: #777;
    align-self: center;
}

.search {
    color: silver;
    transform: scaleX(-1);
}

.search-box {
    font: 13px Tahoma, sans-serif, Arial, Helvetica;
    padding-left: 10px;
    overflow: hidden;
    width: 100%;
    height: 100%;
}


/*
*  Right Side
*/

.column.right {
    width: 70%;
    position: relative;
}

.right-top {
    width: 100%;
    text-align: center;
    display: table;
    background-size: cover;
}

.peer-status {
    font-weight: normal;
    padding-left: 15px;
    font-size: 11.05px;
}

.peer-name {
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    font-size: 13px;
    width: 98%;
    text-align: left;
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    text-overflow: ellipsis;
    font-family: Tahoma, sans-serif, Arial, Helvetica;
}


/* Message container */

.right-center {
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    padding: 15px;
    max-height: 83%;
}

.container {
    transform: none;
    resize: none;
    background-color: #f1f1f1;
    border-radius: 30px;
    padding: 10px 10px 10px 10px;
    margin: 10px 0;
    font: 13px Tahoma, sans-serif, Arial, Helvetica;
    line-height: 20px;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.container img {
    object-fit: cover;
    float: left;
    max-width: 60px;
    max-height: 60px;
    min-width: 60px;
    min-height: 60px;
    border-radius: 50%;
    margin-right: 20px;
}

.conversation-start {
    position: relative;
    width: 100%;
    margin-bottom: 27px;
    display: block;
    text-align: center;
    color: #adadad;
    font: 13px Tahoma, sans-serif, Arial, Helvetica;
}

.message-time {
    float: right;
    color: #999;
    font: 11.05px Tahoma, sans-serif, Arial, Helvetica;
    padding-right: 20px;
}


/* Message Send Form */

.right-bottom {
    background-color: white;
    align-self: center;
    position: absolute;
    min-width: 400px;
    bottom: 0;
    width: 100%;
    height: 7%;
}

.attach,
.message-field,
.send,
.smile {
    border: 0;
    outline: 0;
    height: 100%;
    position: relative;
    display: block;
    float: left;
}

.message-field {
    color: #000;
    bottom: 0;
    padding: 10px;
    overflow-y: hidden;
    border-radius: 10px;
    width: 85%;
}

.attach,
.send,
.smile {
    border-radius: 15px;
    min-width: 30px;
    min-height: 30px;
    width: 5%;
    height: 100%;
    color: #777;
    background: #fff;
}

.attach:hover,
.send:hover,
.smile:hover {
    color: #555;
    background: #f1f1f1;
}


/*  Scroll style  */

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
    color: rgba(137, 160, 179, 0.5);
    width: 26px;
    border-radius: 13px;
    background-clip: padding-box;
    border: 10px solid transparent;
}

*::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 10px;
}

.right-center:not(:hover)::-webkit-scrollbar-thumb {
    color: transparent
}


/*
*   Both Side
*/

.left-top,
.right-top {
    display: table;
    min-height: 50px;
    height: 6vh;
    background-color: #5682a3;
}

.right-dropdown-toggle {
    border: 0;
    border-radius: 0;
    outline: none;
    color: #d7e5f0;
    background-color: inherit;
    height: 100%;
    float: right;
}

.right-dropdown-toggle:hover,
.peer-name:hover,
.left-top:hover {
    background: #467293;
}